<a href="https://colab.research.google.com/github/MaddoxsDad/BloomFilter/blob/main/Chapter8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Create DataFrames
df1 = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "a", "b"],
                    "data1": pd.Series(range(7), dtype="Int64")})
df2 = pd.DataFrame({"key": ["a", "b", "d"],
                    "data2": pd.Series(range(3), dtype="Int64")})

# Display DataFrames
print(df1)
print(df2)

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6
  key  data2
0   a      0
1   b      1
2   d      2

In [2]:
# Perform a merge
merged_df = pd.merge(df1, df2)

# Display the merged DataFrame
print(merged_df)

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

Here I am using pandas’s Int64 extension type for nullable integers, discussed in Section 7.3, “Extension Data Types

This is an example of a many-to-one join; the data in df1 has multiple rows labeled a and b, whereas df2 has only one row for each value in the key column. Calling pandas.merge with these objects, we obtain:

In [3]:
# Perform a merge
merged_df = pd.merge(df1, df2)

# Display the merged DataFrame
print(merged_df)

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

Note that I didn’t specify which column to join on. If that information is not specified, pandas.merge uses the overlapping column names as the keys. It’s a good practice to specify explicitly, though:

In [4]:
# Perform a merge specifying the column
merged_df = pd.merge(df1, df2, on="key")

# Display the merged DataFrame
print(merged_df)

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In general, the order of column output in pandas.merge operations is unspecified.

If the column names are different in each object, you can specify them separately:

In [5]:
# Create DataFrames with different column names
df3 = pd.DataFrame({"lkey": ["b", "b", "a", "c", "a", "a", "b"],
                    "data1": pd.Series(range(7), dtype="Int64")})
df4 = pd.DataFrame({"rkey": ["a", "b", "d"],
                    "data2": pd.Series(range(3), dtype="Int64")})

# Perform a merge specifying different columns
merged_df = pd.merge(df3, df4, left_on="lkey", right_on="rkey")

# Display the merged DataFrame
print(merged_df)

  lkey  data1 rkey  data2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0

You may notice that the "c" and "d" values and associated data are missing from the result. By default, pandas.merge does an "inner" join; the keys in the result are the intersection, or the common set found in both tables. Other possible options are "left", "right", and "outer". The outer join takes the union of the keys, combining the effect of applying both left and right joins:

In [7]:
# Perform an outer merge
outer_merged_df = pd.merge(df1, df2, how="outer")

# Display the merged DataFrame
print(outer_merged_df)

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0
6   c      3   <NA>
7   d   <NA>      2

In [6]:
# Perform an outer merge with different column names
outer_merged_df = pd.merge(df3, df4, left_on="lkey", right_on="rkey", how="outer")

# Display the merged DataFrame
print(outer_merged_df)

  lkey  data1 rkey  data2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0
6    c      3  NaN   <NA>
7  NaN   <NA>    d      2

In an outer join, rows from the left or right DataFrame objects that do not match on keys in the other DataFrame will appear with NA values in the other DataFrame’s columns for the nonmatching rows.

See Table 8-1 for a summary of the options for how.

Table 8-1. Different join types with the how argument
Option	           Behavior
how="inner"-Use only the key combinations observed in both tables

how="left"-Use all key combinations found in the left table

how="right"-	Use all key combinations found in the right table

how="outer"-	Use all key combinations observed in both tables together

Many-to-many merges form the Cartesian product of the matching keys. Here’s an example:

In [18]:
# Create DataFrames for many-to-many merge
df1 = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "b"],
                    "data1": pd.Series(range(6), dtype="Int64")})
df2 = pd.DataFrame({"key": ["a", "b", "a", "b", "d"],
                    "data2": pd.Series(range(5), dtype="Int64")})

# Display DataFrames
print(df1)
print(df2)

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5
  key  data2
0   a      0
1   b      1
2   a      2
3   b      3
4   d      4

In [20]:
# Perform a left merge
left_merged_df = pd.merge(df1, df2, on="key", how="left")

# Display the merged DataFrame
print(left_merged_df)

   key  data1  data2
0    b      0      1
1    b      0      3
2    b      1      1
3    b      1      3
4    a      2      0
5    a      2      2
6    c      3   <NA>
7    a      4      0
8    a      4      2
9    b      5      1
10   b      5      3

In [10]:
# Perform an inner merge
inner_merged_df = pd.merge(df1, df2, how="inner")

# Display the merged DataFrame
print(inner_merged_df)

  key  data1  data2
0   b      0      1
1   b      0      3
2   b      1      1
3   b      1      3
4   b      5      1
5   b      5      3
6   a      2      0
7   a      2      2
8   a      4      0
9   a      4      2

In [22]:
"Run all"

'Run all'

In [23]:
import os
print(os.getcwd())

/content